html,
body,
.wrapper {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 60px;
}

.footer {
    height: 40px;
    padding: 10px 0;
    margin-top: -60px;
}

.js-row {
    display: none;
}

table.data-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.data-table td {
    position: relative;
}

table.data-table input, table.data-table select {
    width: 100%;
    border: 0;
    padding: 3px 10px 3px 10px;
}

table.data-table input.submit {
    position: absolute;
    right: 0;
    width: 80px;
    top: 30px;
}

table.data-table td, table.data-table th {
    padding: 3px 10px 3px 10px;
    border: 1px solid #ccc;
}

table.data-table .form td {
    padding: 0;
}

table.data-table td:last-child, table.data-table th:last-child {
    border-right: 0;
}

table.data-table td:first-child, table.data-table th:first-child {
    border-left: 0;
}

table.data-table tr.row span {
    display: inline-block;
}

table.data-table tr.row {
    position: relative;
}

table.data-table tr.row .delete {
    position: absolute;
    right: 0;
    padding: 0 15px;
    display: none;
    cursor: pointer;
    background: #fff;
}

table.data-table tr.row:hover .delete {
    display: inline-block;;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.tabs .tab {
    padding: 5px 10px;
    cursor: pointer;
    background: #f1f1f1;
    display: inline-block;
}

.tabs .tab.active {
    background: #ffffff;
}

.income-statistic {
    text-align: center;
}

.inline-blocks .income-chart, .inline-blocks .income-data {
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
    min-width: 300px;
    width: 30%;
    text-align: left;
}


.inline-blocks .income-data {
    padding-top: 30px;
}

.income-data-line {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
}

.income-data-name {
    font-weight: bold;
    width: 120px;
    display: inline-block;
}

