table.data-table tr.row .save {
  right: 35px;
  top:4px;
  background: url('../../img/ok.svg') no-repeat;
}

table.data-table tr.row.update .save {
  display: block;
  right: 10px;
}

table.data-table tr.row .delete {
  right: 10px;
  top:3px;
  background: url('../../img/delete.svg') no-repeat;
}

table.data-table tr.row:hover .delete {
  display: block;
}

table.data-table tr.row .edit {
  right: 35px;
  top:3px;
  background: url('../../img/edit.svg') no-repeat;
}

table.data-table tr.row:hover .edit {
  display: block;
}

table.data-table tr.row.update .edit {
  display: none;
}

.autocomplete-item {
  position: relative;
  background: #fff;
  padding:6px 10px;
  cursor:pointer;
}

.autocomplete-item.active {
  background: #f1f1f1;
}

.autocomplete-items {
  z-index:100;
  border-radius: 3px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 0;
  font-size: 90%;
  position: fixed;
  overflow: auto;
  max-height: 50%;
}