table.data-table tr.row .save {
  right: 35px;
  top:4px;
  background: url('../../img/ok.svg') no-repeat;
}

table.data-table tr.row.update .save {
  display: block;
  right: 10px;
}

table.data-table tr.row .delete {
  right: 10px;
  top:3px;
  background: url('../../img/delete.svg') no-repeat;
}

table.data-table tr.row:hover .delete {
  display: block;
}

table.data-table tr.row .edit {
  right: 35px;
  top:3px;
  background: url('../../img/edit.svg') no-repeat;
}

table.data-table tr.row:hover .edit {
  display: block;
}

table.data-table tr.row.update .edit {
  display: none;
}

table.data-table .sum .sum-value {
  width: 70%;
}
table.data-table .sum .sum-currency {
  width: 30%;
  min-width: 60px;
}