html,
body {
    margin: 0;
}

.wrapper {
    padding: 20px 40px;
}

* {
    box-sizing: border-box;
}

.content {
    box-sizing: border-box;
    min-height: 100%;
}

.js-row {
    display: none;
}

table.data-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 35px;
}

table.data-table tr:hover td, table.data-table tr.row.update {
    background: #f1f1f1;
}

table.data-table td {
    position: relative;
}

table.data-table input, table.data-table select {
    width: 100%;
    border: 0;
}

table.data-table input.submit {
    position: absolute;
    right: 0;
    width: 80px;
    top: 40px;
}

table.data-table td, table.data-table th {
    padding: 7px 10px 7px 10px;
    border: 1px dashed #e1e1e1;
    border-right: 0;
    border-left: 0;
}

table.data-table tr.form td {
    padding: 0;
}

table.data-table tr.form input {
    padding: 7px 10px 7px 10px;
}

table.data-table tr.form:hover td {
    background: #fff;
}

table.data-table td:last-child, table.data-table th:last-child {
    border-right: 0;
}

table.data-table td:first-child, table.data-table th:first-child {
    border-left: 0;
}

table.data-table tr.row span {
    display: inline-block;
}

table.data-table tr.row {
    position: relative;
}

table.data-table tr.row .income-button {
    position: absolute;
    cursor: pointer;
    display: none;
    width: 25px;
    height: 25px;
}

table.data-table tr.row .save {
    right: 35px;
    top:4px;
    background: url('../img/ok.svg') no-repeat;
}

table.data-table tr.row.update .save {
    display: block;
}

table.data-table tr.row .delete {
    right: 10px;
    top:3px;
    background: url('../img/delete.svg') no-repeat;
}

table.data-table tr.row:hover .delete {
    display: block;
}

table.data-table tr.row .edit {
    right: 35px;
    top:3px;
    background: url('../img/edit.svg') no-repeat;
}

table.data-table tr.row:hover .edit {
    display: block;
}

table.data-table tr.row.update .edit {
    display: none;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.page:after {
    display: block;
    content: '';
    clear: both;
}

.tabs {
    display: inline-block;
}

.tabs .tab.active {
    cursor: default;
}

.tabs .tab, .settings-button {
    padding: 5px 10px;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #f1f1f1;
    display: inline-block;
}

.tabs .tab.active, .settings-button.active {
    background: #f1f1f1;
}

.buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;
}

.settings-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 100;
}

.income-statistic {
    text-align: center;
}

.income-month-chart {
    height: 400px;
}

.income-year-chart, .income-average-chart {
    height: 300px;
}

.income-by-types-chart, .income-by-contacts-chart {
    height: 350px;
}

.inline-blocks .income-chart, .inline-blocks .income-data {
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
    min-width: 300px;
    width: 30%;
    text-align: left;
}

.data-line {
    margin: 0;
    padding: 10px;
    border-bottom: 1px dashed #e1e1e1;
}

.data-line:hover {
    background: #f1f1f1;
}

.income-data-name {
    font-weight: bold;
}

.data-value {
    float: right;
}

.settings-window {
    display: none;
    position: fixed;
    width: 500px;
    border: 5px solid #e1e1e1;
    background: #fff;
    z-index: 50;
    padding: 20px 40px;
    margin-left: -250px;
    margin-top: -100px;
    top: 30%;
    left: 50%;
}

.settings-window.active {
    display: block;
}

.settings-window .settings-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.settings-form label {
    display: block;
    margin: 15px 0;
}

.settings-form .settings-folder {
    position: absolute;
    z-index: 100;
    opacity: 0;
    width: 410px;
    margin: 10px 0;
}

.settings-form .settings-folder-text {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.settings-response.error {
    color: #ff0000;
}

.balance-source {
    margin: 15px 30px 15px 0;
    float: left;
    width: 320px;
}

.balance-source-name {
    padding: 10px 5px;
    margin: 10px 0;
    position: relative;
}

.balance-source-name:hover {
    background: #f1f1f1;
}

.balance-source-name .balance-edit {
    position: absolute;
    top: 10px;
    right: 15px;
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url('../img/edit.svg') no-repeat;
}

.balance-source-name .balance-edit-save {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url('../img/ok.svg') no-repeat;
}

.balance-source-name .balance-edit-input {
    width: 240px;
}

.balance-source-name:hover .balance-edit {
    display: block;
}

.balance-items .balance-item {
    padding: 7px 10px 7px 10px;
    margin: 0;
    border-bottom: 1px dashed #e1e1e1;
}

.balance-items .balance-item:hover {
    background: #f1f1f1;
}

.balance-items .balance-item:hover .delete-month-balance {
    display: inline-block;
}

.balance-items .balance-item:hover .sum {
    margin-right: 20px;
}

.delete-month-balance {
    float: right;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: none;
    vertical-align: middle;
    background: url('../img/delete.svg') no-repeat;
}

.balance-items .balance-item .month {
    display: inline-block;
    width: 120px;
}

.balance-items .balance-item .sum {
    display: inline-block;
    width: 70px;
    float: right;
    text-align: right;
    margin-right: 40px;
}

form.addBalance {
    margin-top: 15px;
}

form.addBalance input.month {
    width: 160px;
}

form.addBalance input.sum {
    padding: 2px;
    width: 110px;
    margin-left: 5px;
}

form.addBalance button.submit {
    padding: 2px 6px;
    margin-left: 5px;
}

.balance-statistic {
    text-align: center;
    margin-bottom: 40px;
}

.inline-blocks .balance-chart, .inline-blocks .balance-data {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    min-width: 300px;
    width: 49%;
    text-align: left;
}
