html,
body,
.wrapper {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.content {
    padding: 10px 10px 60px 10px;
    box-sizing: border-box;
    min-height: 100%;
}

.footer {
    height: 40px;
    padding: 10px 0;
    margin-top: -60px;
}

.js-row {
    display: none;
}

table.data-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.data-table td {
    position: relative;
}

table.data-table input, table.data-table select {
    width: 100%;
    border: 0;
}

table.data-table input.submit {
    position: absolute;
    right: 0;
    width: 80px;
    top: 30px;
}

table.data-table td, table.data-table th {
    padding: 3px 10px 3px 10px;
    border: 1px solid #ccc;
}

table.data-table td:last-child, table.data-table th:last-child {
    border-right: 0;
}

table.data-table td:first-child, table.data-table th:first-child {
    border-left: 0;
}

table.data-table tr.row span {
    display: inline-block;
}

table.data-table tr.row {
    position: relative;
}

table.data-table tr.row .delete {
    position: absolute;
    right: 0;
    padding: 0 15px;
    display: none;
    cursor: pointer;
    background: #fff;
}

table.data-table tr.row:hover .delete {
    display: inline-block;;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.tabs .tab {
    padding: 5px 10px;
    cursor: pointer;
    background: #f1f1f1;
    display: inline-block;
}

.tabs .tab.active {
    background: #ffffff;
}

.income-statistic {
    text-align: center;
}

.inline-blocks .income-chart, .inline-blocks .income-data {
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
    min-width: 300px;
    width: 30%;
    text-align: left;
}

.inline-blocks .income-data {
    padding-top: 30px;
}

.income-data-line {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
}

.income-data-name {
    font-weight: bold;
    width: 120px;
    display: inline-block;
}

.settings-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: 1px solid #aaa;
    margin: 20px 20px 0 0;
    padding: 5px 8px;
    z-index: 100;
}

.settings-button.active {
    background: #aaa;
}

.settings-page {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 50;
    padding: 10px;
}

.settings-page.active {
    display: block;
}

.setting-form label {
    display: block;
    margin: 15px 0;
}

.settings-response.error {
    color: #ff0000;
}

.delete-month-balance {
    float:right;
    cursor: pointer;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    margin-top: -5px;
    margin-right: 10px;
    background: url(../images/delete.svg) no-repeat;
}

.balance-source {
    margin: 30px;
    float: left;
    padding: 10px;
    width: 400px;
}

.balance-items .balance-item {
    margin: 3px 0;
    padding: 4px 0;
    border-bottom: 1px dashed #e1e1e1;
}

.balance-items .balance-item .month {
    display: inline-block;
    width: 120px;
}

.balance-items .balance-item .sum {
    display: inline-block;
    width: 70px;
    float: right;
    text-align: right;
    margin-right: 20px;
}

form.addBalance {
    margin-top: 15px;
}

form.addBalance input.month {
    width: 160px;
}

form.addBalance input.sum {
    padding: 2px;
    width: 110px;
    margin-left: 5px;
}

form.addBalance input.submit {
    padding: 2px;
    margin-left: 5px;
}