<img src="/resources/logo.png" alt="Cromberg" class="logo"/>
<h1>Cromberg - Personal finance management application</h1>
<p>Read more about app on <a href="https://github.com/z17/home-accounting-system" title="GitHub Cromberg">GitHub</a>.</p>
<p>Download latest release you can <a href="https://github.com/z17/home-accounting-system/releases" title="Releases">here</a>.</p>
<div class="clear"></div>
<div class="screenshots">
    <h2>Screenshots:</h2>
    <a href="/screenshots/income.png" target="_blank" ><img src="/screenshots/income.png" alt="income chart"/></a>
    <a href="/screenshots/balance.png" target="_blank" ><img src="/screenshots/balance.png" alt="balance chart"/></a>
</div>